


header {
  background-color: #222;
  color: white;
  padding: 1rem;
}


header a {
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  margin: 1rem;
}



.card {
  background-color: #ddd;
  border: gray;
  margin: 1rem;
}

.card img {
  width: 200px;
}